<div class="p-4">
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{usuario.id}}</td>
        <td>{{usuario.name}}</td>
        <td>{{usuario.email}}</td>
        <td>
          <button [routerLink]="['/'+usuario.id]">VER</button>
          <button (click)="deleteUsuario(usuario.id)">ELIMINAR</button>
          <button [routerLink]="['/update/'+usuario.id]">EDITAR</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button [routerLink]="['/create']">Create</button>
</div>
